:root {
  --primary-gradient: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  --secondary-gradient: linear-gradient(
    178.3deg,
    rgb(188, 251, 255) 11.5%,
    rgb(255, 253, 14) 103.1%
  );
  --primary-color: #48b1ea;
  --secondary-color: #154abd;
  --default-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  --special-font-family: "Fredoka One", cursive;
  --default-box-shadow: 2px 2px 2px 2px rgb(110 71 71 / 30%);
}

body {
  font-family: var(--default-font-family);
  background: #cbf7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: var(--special-font-family);
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  background: (var(--primary-gradient));
}

h1 {
  font-size: 64px;
  line-height: 1.5;
}

h2 {
  font-size: 40px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

img {
  border-radius: 7px;
}

.content-container {
  padding: 60px 20px;
}

.stats {
  display: block;
  margin: 0 auto;
}

.paper {
  color: var(--primary-color);
}

/*hero section*/

.hero {
  background: var(--primary-gradient);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: white;
  font-family: var(--default-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-size: 20px;
}
/*end hero classes*/

/* begin classes related to index file*/
.btn-branding {
  box-shadow: var(--default-box-shadow);
  border: 3px solid #ffff00;
  border-radius: 4px;
  background: var(--secondary-gradient);
  color: var(--secondary-color);
  font-size: 25px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  border: 3px solid #0000ff;
}

.home-images {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  text-align: center;
}

.img-certificates {
  border: 15px solid var(--primary-color);
}

.img-certificates:hover {
  border: 15px solid var(--secondary-color);
}

.img-portfolio {
  border: 15px solid var(--primary-color);
}

.img-portfolio:hover {
  border: 15px solid var(--secondary-color);
}

.img-about-me {
  border: 15px solid var(--primary-color);
}

.img-about-me:hover {
  border: 15px solid var(--secondary-color);
}

.img-projects {
  border: 15px solid var(--primary-color);
}

.img-projects:hover {
  border: 15px solid var(--secondary-color);
}
.img-description {
  font-family: var(--special-font-family);
  font-size: 25px;
}
/* end classes related to index file*/

/* begin classes related to about*/
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section-content {
  margin: 30px;
}

.school {
  border-bottom: 1px solid black;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid black;
}
/*end classes related to about*/

.message {
  font-size: 17px;
  color: var(--secondary-color);
  font-family: var(--special-font-family);
  text-align: center;
}

.round {
  background: var(--primary-gradient);
  border-radius: 7px;
  font-family: var(--special-font-family);
}

.description {
  margin: 30px;
}

.top {
  text-align: center;
  background: var(--primary-gradient);
  margin: 0;
}

.top h1 {
  font-size: 64px;
  margin: 0;
}

/* navbar and footer section*/
footer {
  background: var(--secondary-gradient);
  padding: 15px;
}

.icon {
  display: inline-block;
  color: var(--primary-color);
  font-size: 37px;
  margin: 0 10px;
}

.icon:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.navbar {
  background: var(--secondary-gradient);
  padding: 25px 20px;
  border-bottom: 3px solid blue;
}

#navbarNavAltMarkup {
  justify-content: right;
}

.navbar-brand {
  font-family: var(--special-font-family);
}

.btn-branding-outline {
  display: block;
  margin: 0 auto;
  width: 200px;
  box-shadow: var(--default-box-shadow);
  background: var(--secondary-gradient);
  color: var(--secondary-color);
  border: 3px solid #ffff00;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-align: center;
}

.btn-branding-outline:hover {
  border: 3px solid #0000ff;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 33px;
  }

  footer {
    padding: 10px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .ref-container {
    flex-wrap: wrap;
  }

  .img-fluid {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }

  .message {
    font-size: 13px;
    color: var(--secondary-color);
  }

  .icon {
    font-size: 25px;
  }

  .about-section h1,
  .top h1,
  .round h1 {
    font-size: 46px;
  }

  .top h2,
  .round h2 {
    font-size: 30px;
  }

  .btn-branding-outline {
    font-size: 15px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
