/* I love this font
font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */

h1 {
  font-size: 88px;
}

h2 {
  font-size: 48px;
}

h1,
h2 {
  text-align: center;
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  margin: 0;
  padding: 20px;
  color: white;
}

/* begin classes related to index file*/

.home-images {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  text-align: center;
}

.img-certificates {
  border: 15px solid rgb(72, 177, 234);
}

.img-certificates:hover {
  border: 15px solid blue;
}

.img-portfolio {
  border: 15px solid rgb(72, 177, 234);
}

.img-portfolio:hover {
  border: 15px solid blue;
}

.img-about-me {
  border: 15px solid rgb(72, 177, 234);
}

.img-about-me:hover {
  border: 15px solid blue;
}

.img-projects {
  border: 15px solid rgb(72, 177, 234);
}

.img-projects:hover {
  border: 15px solid blue;
}

.img-contact {
  border: 15px solid rgb(72, 177, 234);
}

.img-contact:hover {
  border: 15px solid blue;
}
/* end classes related to index file*/
